.menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: calc(100vh - 96px - 24px);
  z-index: 10;
  top: 96px;
  position: fixed;
  background-color: #ffffff;
  left: 24px;
  transition: width 300ms ease-in-out;
  box-shadow: 0px 0px 10px 2px #0000001a;
  border-radius: 36px;
  padding: 4px;
  justify-content: space-between;
}

.menu-wrapper:hover {
  width: 166px;
}

.nav-bar-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 100%;
  border-radius: 64px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
