@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #131315;
  height: 100%;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  opacity: 0; /* Hide scrollbar by default */
  transition: opacity 0.3s ease; /* Smooth transition when showing */
}

/* Show scrollbar when hovering over the container */
body:hover ::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar on hover */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
}

.color-main {
  background: linear-gradient(180deg, #ffd900 0%, #ffae00 100%);
}

.shadow-btn {
  box-shadow: 0px 0px 10px 2px #0000001a;
}

a, 
a:link, 
a:visited,
a:hover, /* If you want the color to stay the same on hover */
a:active {
  color: #131315;
}

button,
button:hover {
  cursor: pointer;
}
