@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
/* @import 'tw-animate-css'; */

@theme inline {
  --color-bg-secondary: var(--bg-secondary);
  --color-cool-gray-20: var(--cool-gray-20);
  --color-cool-gray-90: var(--cool-gray-90);
  --shadow-main: var(--shadow-main);
  --shadow-popup: var(--shadow-popup);
  --shadow-secondary: var(--shadow-secondary);
  --shadow-secondary-foreground: var(--shadow-secondary-foreground);
  --radius-md: 8px;
  --color-text-primary: var(--text-primary);
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-5: var(--blue-5);
  --color-blue-4: var(--blue-4);
  --color-blue-3: var(--blue-3);
  --color-gray-7: var(--gray-7);
  --color-gray-4: var(--gray-4);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-5: var(--gray-5);
  --color-gray-8: var(--gray-8);
  --color-gray-90: var(--gray-90);
  --color-gray-100: var(--gray-100);
  --color-yellow-3: var(--yellow-3);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-5xl: var(--radius-5xl);
  --breakpoint-md: 768px;
}

:root {
  --cool-gray-20: #dde1e6;
  --cool-gray-90: #21272a;
  --bg-secondary: #f2f2f7;
  --shadow-secondary: 0px 0px 4px 0px #00000033;
  --shadow-main: 0px 0px 10px 2px #0000001a;
  --shadow-popup: 0px 0px 8px 0px #00000029;
  --shadow-secondary-foreground: 0px 0px 4px 0px hsba(0, 0%, 0%, 0.2);
  --color-gradient: linear-gradient(180deg, #ffd900 0%, #ffae00 100%);
  --text-primary: #131315;
  --blue-5: #002e73;
  --blue-1: #e5f1ff;
  --blue-2: #8ab9f6;
  --blue-4: #006eff;
  --blue-3: #005af4;
  --gray-7: #787878;
  --gray-4: #c7c7cc;
  --gray-1: #f2f2f7;
  --gray-2: #e5e5ea;
  --gray-5: #aeaeb2;
  --gray-8: #404040;
  --gray-90: #21272a;
  --gray-100: #121619;
  --yellow-3: #f4db71;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --radius-5xl: 64px;
}

body {
  background-color: #f4fafc;
  color: #131315;
  height: 100%;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  opacity: 0; /* Hide scrollbar by default */
  transition: opacity 0.3s ease; /* Smooth transition when showing */
}

/* Show scrollbar when hovering over the container */
body:hover ::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar on hover */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
}

.color-main {
  background: linear-gradient(180deg, #ffd900 0%, #ffae00 100%);
}

.shadow-btn {
  box-shadow: 0px 0px 10px 2px #0000001a;
}

a, 
a:link, 
a:visited,
a:hover, /* If you want the color to stay the same on hover */
a:active {
  color: #131315;
}

button,
button:hover {
  cursor: pointer;
}
.ant-select-item {
  padding: 0px !important;
  border-radius: 0px !important;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
