.menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .menu-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
}

.menu-item {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  color: black;
}

.menu-item:not(:last-child) {
  border-right: 0.3rem solid #f2f4f7;
}

.menu-item:hover{
  color: rgb(92, 92, 92);
}

.menu-item-active {
  background-color: #333333;
  color: white;
}

